.timeLine {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 40px;
  box-sizing: border-box;
  &:after {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 50%;
    width: 8px;
    background: #5b5963;
    border-radius: 3px;
    z-index: 1;
  }
  article {
    position: relative;
    background: #eeeeee;
    width: calc(50% - 61px);
    padding: 15px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px 0px 10px 10px;
    &:hover {
      box-shadow: 5px 5px 10px 0px rgba(159, 50, 50, 0.5);
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: calc(100% + 17px);
      background: #d6d6d6;
      width: 24px;
      height: 24px;
      border: 6px #5b5963 solid;
      border-radius: 50%;
      z-index: 2;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-left: 16px solid #eeeeee;
      border-bottom: 20px solid transparent;
    }
    &:nth-child(even) {
      margin-left: calc(50% + 40px);
      border-radius: 0px 10px 10px 10px;

      &:before {
        left: auto;
        right: calc(100% + 18px);
      }
      &:after {
        left: auto;
        right: 100%;
        border-left: none;
        border-right: 16px solid #eeeeee;
      }
    }
  }
  article + article {
    margin-top: 20px;
  }
}

@media (max-width: 690px) {
  .timeLine {
    article:nth-child(even) {
      margin-left: 0;
      border-radius: 10px 0px 10px 10px;

      &:before {
        left: calc(100% + 17px);

        right: auto;
      }
      &:after {
        left: 100%;
        right: 100%;
        border-left: 16px solid #eeeeee;
        border-right: none;
      }
    }
  }
}
