.projects_gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  max-width: 1200px;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

@media (max-width: 480px) {
  .projects_gallery {
    gap: 40px;
  }
}
