@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.article {
  width: 30rem;
  border-radius: 5px;

  .arrow {
    transition: transform 0.3s ease;
    font-size: 30px;

    &.open {
      transform: rotate(180deg);
    }
  }

  .item {
    color: #5b5963;
    background: #f5f5f5;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 3.5rem;
    border-radius: 5px;

    p {
      font-size: 1em;
      font-weight: 600;
    }

    span {
      font-size: 3.5rem;
      cursor: pointer;
    }
  }

  .description {
    background-color: rgba(128, 128, 128, 0.358);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    max-height: 0;
    overflow: hidden;
    transition: max-height 800ms ease-in-out;

    span {
      color: #5b5963;
      font-size: 1em;
      padding: 1em;
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }

  &.open {
    .description {
      max-height: 1000px;
      transition: max-height 1s ease-in-out;
      border-radius: 0 0 5px 5px;
    }
  }
}

.material-symbols-outlined {
  font-size: 20px;
}

.align {
  width: 100%;
}

@media (max-width: 550px) {
  .article {
    width: 20rem;
  }
}
