header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  cursor: pointer;
  flex-wrap: wrap;

  a {
    color: black;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 3px;
  }

  li {
    list-style-type: none;
    padding: 15px;

    &:last-child {
      position: absolute;
      right: 0;
    }

    &:hover {
      background-color: black;
      transition: background-color 1s;

      a {
        color: white;
      }
    }
  }
}

@media (max-width: 690px) {
  header ul {
    flex-direction: column;
    justify-content: center;
    text-align: center;

    li {
      &:last-child {
        position: relative;
      }
    }
  }
}
