.presentation_font {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-top: outset 1px rgb(128 128 128 / 10%);
  border-bottom: outset 1px rgb(128 128 128 / 10%);
}

.presentation_description {
  color: #5b5963;
  font-weight: 300;
  max-width: 600px;
  font-style: italic;
  background: white;
  padding: 10px;
}

.portrait_description {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 25rem;
    height: 25rem;
    margin: 50px;
    border: solid 1px black;
  }
}

@media (max-width: 768px) {
  .portrait_description {
    flex-direction: column;
    img {
      width: 50%;
      height: auto;
      margin: 0;
      padding: 0;
    }
  }

  .presentation_description {
    font-size: 1rem;
    width: 80%;
    margin: 40px;
  }
}
