.presentation_align {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-top: outset 1px rgb(128 128 128 / 10%);
  border-bottom: outset 1px rgb(128 128 128 / 10%);
}

.presentation_description {
  font-size: 1em;
  margin: 0 15%;
  color: #5b5963;
  text-align: center;
  font-weight: 300;
}

@media (max-width: 1200px) {
  .presentation_description {
    margin: 0px;
  }
}
