body {
  margin: 0;
  font-family: "Poppins";
}

h2 {
  font-size: 30px;
}

.background {
  background-image: url("./assets/Projects_pictures/fond_gris_a.jpg");
  background-attachment: fixed;
  background-size: cover;
}
