.comingSoon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  gap: 2rem;
  text-align: center;
  min-height: 100vh;
  justify-content: space-between;
  color: #5b5963;
  img {
    filter: brightness(0.3);
  }

  span {
    font-size: 60px;
    text-shadow: black 2.5px 0px 1.2px;
  }
  a {
    color: #5b5963;
    outline: none;
    text-decoration: none;
    margin-bottom: 7rem;
  }
  a:hover {
    border-bottom: 1px solid;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .comingSoon {
    justify-content: space-around;
    height: 65vh;
    img {
      width: 90%;
    }
    a {
      margin-bottom: 4rem;
    }
    span {
      font-size: 30px;
    }
  }
}
